        body, html {
            height: 100%;
            margin: 200;
            background-color: #FDF9F6;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: 'Goudy Bookletter 1911', serif;
        }
        .header_text {
                font-size: 64px;
                padding-top: 10px;
                padding-bottom: 10px;

        }
        .body_text {
            font-size: 32px; /* Adjust if needed */
            font-family: 'Commissioner';

        }
